.Xauthority
**/.cache
**/.dbus
**/.dmenu_cache
.config/*
!.config/user-dirs.dirs
!.config/custom
*.swp
.gnome/
.local/
.mozilla/
.mplayer/
.nvidia-settings-rc
.pki/
.profile
.ssh/
.vim/
.viminfo
.vimrc
.xsession-errors
projects/
.bash_*
